---
---

<div>
  <p>
    Hello there, welcome to my personal website. I've never been great at introductions
    but listed below are some of the things I work with professionally and for fun, sometimes I get the two confused!
  </p>
  <ul class="mt-5">
    <li>
      <strong>Code.</strong>
      <a href="https://astro.build" target="_blank">Astro</a> websites
      with <a href="https://tailwindcss.com">Tailwind</a> and Vue.js.
    </li>
    <li>
      <strong>Sound Design & Synthesis.</strong>
      Working with both software and hardware, from the iPad running <a href="https://kymatica.com/apps/aum">AUM</a>, to <a href="https://www.ableton.com/en/">Ableton</a> and <a href="https://www.bitwig.com/">Bitwig</a>, with a sprinkling of modular gear for good measure. You can find my tracks on <a href="https://soundcloud.com/nickeblewis" target="blan>Soundcloud"</a> 
    </li>
    <li>
      <strong>Photography.</strong>
      You can view my portfolio that I've been developing over several years or more at <a href="https://nickeblewis.picfair.com/">Picfair</a>
    </li>
  </ul>
</div>
