---
---

<div>
  <p>
    Hello there, welcome to this website. I've never been great at introductions
    but listed below are some of the things I work with:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Code.</strong>
      A beautiful <a href="https://astro.build" target="_blank">Astro</a> theme built
      with <a href="https://tailwindcss.com">Tailwind</a>.
    </li>
    <li>
      <strong>Sound Design & Synthesis.</strong>
      Fast by default. Blogster templates are engineered to be performant and load
      before you could blink, even when not cached.
    </li>
  </ul>
</div>
