---
---

<div>
  <p>
    Hello there, welcome to my personal website. I've never been great at introductions
    but listed below are some of the things I work with professionally and for fun, sometimes I get the two confused:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Code.</strong>
      <a href="https://astro.build" target="_blank">Astro</a> theme built
      with <a href="https://tailwindcss.com">Tailwind</a> and Vue.js.
    </li>
    <li>
      <strong>Sound Design & Synthesis.</strong>
      I have been developing my own hybrid synthesizer for over a year now. Hybrid in the sense that I use both software and hardware. I go into some detail over on the blog.
    </li>
  </ul>
</div>
